.drag-drop{    
    width: 30rem;
    height: 25rem;
    background-size: cover;

} 

.image-drop-container-hide{
    display: none
}

.drag-drop-hide{
display: none;
}

.image-drag-drop{
    width:200px;
    height: 200px;
    object-fit: contain;
} 

